/* 
    Document   : main
    Created on : 16-ago-2011, 23:40:05
    Author     : david
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body{
    background-color: beige;
}

h1{
    text-align: center;
}

.menu{
    width: 100%;
}
.menu1{
    width: 100%;
}
.menu2{
    width: 100%;
}
.personal{
    text-align: right;
}