<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('bundles/txinbometro/css/main.css') }}" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="menu">{% block menu %} {% render "TxinbometroBundle:Default:menu" with { 'opcion': 'Principal', 'subopcion': 'index' } %} {% endblock %}</div>
<h1>Txinbometro</h1>
        {% block body %}
        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>