{# src/DS/TxinbometroBundle/Resources/views/Gasto/index.html.twig #}

{% extends "TxinbometroBundle::layout.html.twig" %}


{% block bundle_content %}

<h1>Uoops</h1>
Primero debes insertar datos para poder generar estad&iacute;sticas.


{% endblock %}






