{# src/DS/TxinbometroBundle/Resources/views/Gasto/index.html.twig #}
{% extends "TxinbometroBundle::layout.html.twig" %}

{% block body %}
<h1>Uoops</h1>
Primero debes seleccionar un vehiculo en la secci&oacute;n de vehiculos (o crearlo antes sino existe). 

{% endblock %}







