

root { 
    display: block;
}

body{
    background-color: beige;
}

h1{
    text-align: center;
}

.menu{
    width: 100%;
}
.menu1{
    width: 100%;
}
.menu2{
    width: 100%;
}
.personal{
    text-align: right;
}



.records_list {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #CCC;
    font: normal 80% sans-serif; color:black;
}

.records_list thead {
    background-color: #dddddd;
    color: #232;
}

.records_list tfoot {
    background-color: #ffffff;
    color: #010;
}

.records_list tr {
    border: 1px solid #ffffff;    
}

.records_list td, table th {
    border: 1px solid #DDD;
    padding: 1px 0;
    text-align:center;
}

.records_list tbody tr:hover{
    background-color:#FFFFFF;
}

.records_list tbody td:hover{
    color:teal;
    cursor:default;
}

.records_list tr.even
{
    background-color: #e7efc8;
}

.records_list tr.odd
{
    background-color: #EFEFEF;
}