{# src/DS/TxinbometroBundle/Resources/views/Gasolina/edit.html.twig #}



{% extends "TxinbometroBundle::layout.html.twig" %}


{% block bundle_content %}

<h1>Estad&iacute;sticas Mensuales</h1>

<img src="{{ path('txinbometro_graficos_graphs',{'dataserie':'usomensual'}) }}" /></img>
{% endblock %}

