{# src/DS/TxinbometroBundle/Resources/views/Gasolina/new.html.twig #}
{% extends "TxinbometroBundle::layout.html.twig" %}

{% block body %}
<h1>Gasolina creation</h1>

<form action="{{ path('txinbometro_gasolina_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('txinbometro_gasolina') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}