{# src/DS/TxinbometroBundle/Resources/views/Vehiculo/new.html.twig #}
{% extends "TxinbometroBundle::layout.html.twig" %}

{% block menu %} {% render "TxinbometroBundle:Default:menu" with { 'opcion': 'Vehiculo', 'subopcion': 'none' } %} {% endblock %}

{% block body %}
<h1>Vehiculo creation</h1>

<form action="{{ path('txinbometro_vehiculo_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('txinbometro_vehiculo') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}